:root {
    --blue: #3C709A;
    --item1: #1abc9c;
    --item2: #3498db;
    --item3: #9b59b6;
    --item4: #34495e;
    --item5: #f1c40f;
    --item6: #e67e22;
    --item7: #e74c3c;
    --item8: #bdc3c7;
    --item9: #2ecc71;
    --item10: #16a085;
}

.container {
    border: 5px solid var(--blue);
}

.item1 { background: var(--item1);}
.item2 { background: var(--item2);}
.item3 { background: var(--item3);}
.item4 { background: var(--item4);}
.item5 { background: var(--item5);}
.item6 { background: var(--item6);}
.item7 { background: var(--item7);}
.item8 { background: var(--item8);}
.item9 { background: var(--item9);}
.item10 { background: var(--item10);}

.item {
    padding: 2rem;
    font-size: 4rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 60vh;
    /* width: 60vw; */
    display: flex;
    /* flex-flow: wrap; */
}

.item {
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 100px;
}

.item3 {
    flex: 3 1 150px;
    
}

/* .item2 {
    order: 2;
}
.item7 {
    order: 3;
}

.item3 {
    order:1;
} */